*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  font-size: 1.5rem;
  padding-top: 3rem;
  min-height: 100vh;
}

.title {
  font-weight: 300;
  padding-bottom: 4rem;
  text-align: center;
}

.book-icon {
  color: #4c8bf5;
  margin-right: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50rem;
}

.form__group {
  position: relative;
  padding-bottom: 4rem;
}

.form__label {
  position: absolute;
  top: -0.5rem;
  left: 0;
}

.form__input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  padding-bottom: 0.5rem;
}

.form__input:focus + .form__label, .form__input:not(:placeholder-shown) + .form__label {
  top: -1.5rem;
  font-size: 1.2rem;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.btn--submit {
  background-color: #4c8bf5;
  color: #fff;
  padding: 0.5rem;
  text-transform: uppercase;
}

.table {
  padding-top: 3rem;
}

.table__data {
  width: 15rem;
}

.table__data:last-of-type {
  width: 5rem;
}

.trash-icon, .edit-icon {
  font-size: 1.8rem;
}

.trash-icon {
  margin-right: 3px;
  color: #d1001f;
}

.edit-icon {
  color: #00ab41;
}

.message__container {
  position: relative;
  height: 8rem;
}

.error, .success {
  position: absolute;
  width: 100%;
  visibility: hidden;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
}

.error {
  background-color: #f99697;
  color: #d1001f;
}

.success {
  background-color: #abf7b1;
  color: #00ab41;
}